:root {
  --vermelho: #E50914;
  --preto: #141414;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preto);
  color: white;
  font-family: Arial, Times, serif;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header .logo {
  color: var(--vermelho);
  font-family: Arial, Times;
  font-size: 40px;
  margin-left: 5px;
}

header nav {
  margin-left: 30px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover {
  color: #FFF;
}

header .left {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 70%
}

header .right {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 10%;
  justify-content: space-between;
  cursor: pointer;
}

/*filme principal*/

.filme-principal {
  font-size: 20px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa-visavis.jpg');
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.filme-principal .titulo {
  width: 40%;
}

.filme-principal .botao {
  border: none;
  border-radius: 3px;
  padding: 1rem 2.5rem;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease all;

}

.filme-principal .botao i {
  margin-right: 8px;
}

#play-btn {
  background-color: white;
  color:black;
}

#play-btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

#info-btn {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

#info-btn:hover {
  background-color: rgba(109, 109, 110, 0.4);
  color: white;
}

.container {
  margin-left: 20px;;
}

.filme-principal .container {
  width: 70%;
}

.box-filmes {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.carrossel-filmes {
  margin-top: 5px;
}

